<template>
  <div class="hello w100">
    <div class="level is-mobile">
      categories
    </div>
    <div class="level is-mobile">Add A Category</div>
    <div class="level is-mobile">
      <div class="field has-addons">
        <div class="control">
          <input v-model="newCategory" class="input" type="text" placeholder="New Category">
        </div>
        <div class="control">
          <a class="button is-info" @click="addCategory()">
            Add
          </a>
        </div>
      </div>
    </div>
    <div class="level is-mobile">All Categories</div>
    <div class="column margin-b-10 w100">
      <p v-if="noCategories">No Categories</p>
      <div v-for="category in allCategories" :key="category.id" class="card level is-mobile w100">
        <div class="card-content">
          <p v-if="editId === category.id" class="subtitle">
            <input v-model="editName" class="input" type="text">
          </p>
          <p v-else class="subtitle">
            {{category.name}}
          </p>
        </div>
        <footer class="card-footer">
          <p v-if="editId === category.id" class="card-footer-item">
            <a class="button is-info is-outlined" @click="saveEdit(category.id)">Save</a>
          </p>
          <p class="card-footer-item">
            <a class="button is-info is-outlined" @click="switchEdit(category.id, category.name)">Edit</a>
          </p>
          <p class="card-footer-item">
            <a class="button is-danger is-outlined" @click="deleteCategory(category.id)">Delete</a>
          </p>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import Env from '../environment.js'
import axios from 'axios'
export default {
  name: 'Categories',
  props: {
    msg: String
  },
  data () {
    return {
      categories: [],
      noCategories: false,
      newCategory: '',
      editId: null,
      editName: ''
    }
  },
  computed: {
    allCategories () {
      return this.$store.getters.getCategories
    }
    // checkNoCategories () {
    //   if (this.$store.getters.getCategories.length) {
    //     return false
    //   } else {
    //     return true
    //   }
    // }
  },
  watch: {
    // checkNoCategories () {
    //   this.noCategories = this.checkNoCategories
    // },
    allCategories () {
      this.categories = this.allCategories
    }
  },
  created () {
    this.getCategories()
  },
  mounted () {},
  methods: {
    getCategories () {
      this.$store.dispatch('RETURN_ALL_CATEGORIES').then((res) => {
        console.log(res)
        let data = {categories: res.data.payload.categories}
        this.$store.dispatch('SET_CATEGORIES', data)
        // this.categories = res.data.payload.categories
        // this.noCategories = false
        // this.$forceUpdate()
      }).catch((err) => {
        console.log(err.response.data.declaration)
        if (err.response.data.declaration === 'category_not_found') {
          // this.noCategories = true
        }
      })
    },
    addCategory () {
      let token = this.$store.getters.getToken
      axios({
        method: 'PUT',
        url: `${Env.url}/category/create`,
        headers: {
          'Content-Type': 'application/json',
          'app-id': `${Env.app_id}`,
          'app-secret': `${Env.app_secret}`,
          'token': token
        },
        data: {
          'name': this.newCategory
        }
      }).then((res) => {
        console.log(res)
        this.getCategories()
      }).then(() => {
        this.newCategory = ''
        this.$forceUpdate()
      }).catch((err) => {
        console.log(err)
      })
    },
    deleteCategory (id) {
      let token = this.$store.getters.getToken
      axios({
        method: 'DELETE',
        url: `${Env.url}/category/` + id,
        headers: {
          // 'Content-Type': 'application/json',
          'app-id': `${Env.app_id}`,
          'app-secret': `${Env.app_secret}`,
          'token': token
        }
      }).then((res) => {
        console.log(res)
        this.getCategories()
      }).catch((err) => {
        console.log(err)
      })
    },
    saveEdit (id) {
      let token = this.$store.getters.getToken
      axios({
        method: 'PATCH',
        url: `${Env.url}/category/edit/` + id,
        headers: {
          // 'Content-Type': 'application/json',
          'app-id': `${Env.app_id}`,
          'app-secret': `${Env.app_secret}`,
          'token': token
        },
        data: {
          'name': this.editName
        }
      }).then((res) => {
        console.log(res)
        this.editId = null
        this.editName = ''
        this.$forceUpdate()
        this.getCategories()
      }).catch((err) => {
        console.log(err)
      })
    },
    switchEdit (id, name) {
      if (this.editId === id) {
        this.editId = null
        this.editName = ''
        this.$forceUpdate()
      } else {
        this.editId = id
        this.editName = name
        this.$forceUpdate()
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.margin-b-10{
  margin-bottom: 10px !important;
}
.w100{
  width: 100%;
}
.card-content{
  padding: 0 0 0 0.75rem;
}
.card-footer{
  border: none;
}
.card-footer-item:not(:last-child) {
    border-right: none;
    // 1px solid #dbdbdb
}
.border-bottom{
  border-bottom: 1px solid hsl(0, 0%, 86%);
}
</style>
