<template>
  <div class="hello">
		<transition name="fade" mode="out-in">
			<div class="modal" :class="{'is-active': ifShowModal}">
				<div class="modal-background"></div>
				<div class="modal-content">
					<div class="box modal-box container flex flex-col just-c-c" v-if="showModalMessage">
						<p class="level">{{modalMessage}}</p>
						<div>
							<!-- <a class="button is-outlined leve" tabindex="0" @click="showModal = false; showModalAccount = false" @keyup.enter="showModal = false; showModalAccount = false">No</a> -->
							<!-- <a class="button is-primary is-outlined" tabindex="0" @click="showModalAccount = false; switchAccount()" @keyup.enter="showModalAccount = false; switchAccount()">Yes</a> -->
						</div>
					</div>
					<div v-if="showModalLoad"><img src="../assets/images/loading.gif" height="80px" width="80px"></div>
				</div>
				<button v-if="showModalMessage" class="modal-close is-large" aria-label="close" @click="showModal = false"></button>
			</div>
		</transition>
    <div class="level is-mobile">
      create an event
    </div>
    <div class="level is-mobile">New Event</div>
    <div class="level is-mobile">Location: {{location.name}}</div>
    <div class="level is-mobile">
      <div class="field column has-text-left">
        <label class="label tooltip" data-tooltip="Tooltip Text">Event Name</label>
        <div class="control">
          <input v-model="newEvent.name" class="input" type="text" placeholder="e.g Promo Party">
        </div>
      </div>
      <div class="field column has-text-left">
        <label class="label">Category</label>
        <div class="select w100">
          <select v-model="newEvent.category" class="w100">
            <option>Select dropdown</option>
            <option v-for="category in categories" :key="category.id" v-bind:value="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="field column has-text-left">
        <label class="label">Image</label>
        <div class="file-upload-form">
					Upload an image file:
					<input type="file" id="file" ref="file" accept="image/png, image/jpeg, image/jpg, image/bmp"/>
        </div>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="field column has-text-left">
        <label class="label">Start Time</label>
        <el-time-select
          placeholder="Start time"
          v-model="newEvent.timeStart"
          :picker-options="{
            start: '08:30',
            step: '00:30',
            end: '23:30'
          }">
        </el-time-select>
      </div>
      <div class="field column has-text-left">
        <label class="label">End Time</label>
        <el-time-select
          placeholder="End time"
          v-model="newEvent.timeEnd"
          :picker-options="{
            start: '08:30',
            step: '00:30',
            end: '24:00',
            minTime: newEvent.timeStart
          }">
        </el-time-select>
      </div>
      <div class="field column has-text-left">
        <label class="label">Date</label>
        <el-date-picker
          v-model="newEvent.date"
          type="date"
          placeholder="Pick a day"
          value-format="yyyy-MM-dd">
        </el-date-picker>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="field column has-text-left">
        <label class="label">Description</label>
        <div class="w100">
          <textarea v-model="newEvent.desc" class="textarea" placeholder="Enter a short description of the event"></textarea>
        </div>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="field column has-text-left">
        <label class="label">Fees</label>
        <div class="field  has-addons">
          <p class="control">
            <a class="button is-static">$</a>
          </p>
          <p class="control">
            <input v-model="newEvent.fees" class="input" type="text" placeholder="">
          </p>
        </div>
      </div>
      <div class="field column has-text-left">
        <label class="label">Age Limit (optional)</label>
        <div class="control">
          <input v-model="newEvent.age" class="input" type="number" placeholder="">
        </div>
      </div>
      <div class="field column has-text-left">
        <input id="switchRtlExample" v-model="newEvent.isPrivate" type="checkbox" name="switchRtlExample" class="switch is-rtl" checked="checked">
        <label class="label" for="switchRtlExample">Private</label>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="field column has-text-left">
        <input id="switchRtlExample1" v-model="newEvent.isPublish" type="checkbox" name="switchRtlExample" class="switch is-rtl" checked="checked">
        <label class="label" for="switchRtlExample1">Publish</label>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="field column has-text-left">
        <label class="label">Tags</label>
        <tag :tags="tags" :suggestions="suggestions" :suggestionLength="6"/>
      </div>
    </div>
    <div class="level is-mobile field">
      <div class="control">
        <button v-if="isEdit" key="editbutton" class="button is-link" @click="submitEvent()">Edit</button>
        <button v-if="isEdit" key="deletebutton" class="button is-danger is-outlined" @click="deleteEvent()">Delete</button>
        <button v-else key="createbutton" class="button is-link" @click="submitEvent()">Create</button>
      </div>
    </div>
  </div>
</template>

<script>
import Env from '../environment.js'
import axios from 'axios'
import tag from 'v-tag-suggestion'
export default {
  name: 'EventsCreate',
  props: {
    msg: String
  },
  components: {
    tag
  },
  data () {
    return {
      evLocation: {},
      allCategories: [],
      newEvent: {
        name: '',
        category: '',
        desc: '',
        fees: null,
        image: '',
        date: '',
        timeStart: '',
        timeEnd: '',
        isPrivate: false,
        isPublish: false
      },
      origEvent: {},
      tags: [],
      suggestions: [],
      existingTagIds: [],
      newTagsToAdd: [],
			file: '',
			showModal: false,
      showModalMessage: false,
			modalMessage: '',
      showModalLoad: false,
    }
  },
  computed: {
		ifShowModal () {
			if (this.showModal === true) {
				return true
			} else {
				return false
			}
		},
    categories () {
      return this.$store.getters.getCategories
    },
    isEdit () {
      return this.$store.getters.getIfEditEvent
    },
    location () {
      return this.$store.getters.getActiveLocation
    },
    tagsList () {
      return this.$store.getters.getTags
    }
  },
  watch: {
    location () {
      this.evLocation = this.location
    },
    categories () {
      this.allCategories = this.categories
    },
    tagsList () {
      this.suggestions = this.tagsList
    }
  },
  created () {
    // this.location = this.$store.getters.getActiveLocation
    this.$store.dispatch('RETURN_ALL_CATEGORIES').then((res) => {
      let data = {categories: res.data.payload.categories}
      this.$store.dispatch('SET_CATEGORIES', data)
      // this.allCategories = res.data.payload.categories
    }).catch((err) => {
      console.log(err)
    })
    this.$store.dispatch('RETURN_ALL_TAGS').then((res) => {
      console.log(res)
      let data = {tags: res.data.payload.tags}
      this.$store.dispatch('SET_TAGS', data)
    }).catch((err) => {
      console.log(err.response.data.declaration)
      if (err.response.data.declaration === 'tags_not_found') {
        // this.noCategories = true
      }
    })
    this.checkIfEdit()
  },
  mounted () {},
  beforeDestroy () {
    let data = {edit: false}
    this.$store.dispatch('SET_EDIT', data)
  },
  methods: {
    checkIfEdit () {
      if (this.$store.getters.getIfEditEvent === true) {
        console.log('is edit mode')
        let eventId = this.$store.getters.getActiveEventId
        this.getEventById(eventId).then((res) => {
          for (let x = 0; x < res.data.payload.events.length; x++) {
            if (eventId === res.data.payload.events[x].id) {
              let ev = res.data.payload.events[x]
              let stime = ev.start_time.split(' ')
              let stimes = stime[1].split(':')
              let etime = ev.end_time.split(' ')
              let etimes = etime[1].split(':')
              let privO = this.getTF(ev.is_private)
              let statusO = this.getTF(ev.status)
              this.origEvent = ev
              this.newEvent.name = ev.name,
              this.newEvent.category = ev.event_category.id,
              this.newEvent.desc = ev.short_description,
              this.newEvent.fees = ev.fee,
              this.newEvent.image = ev.image_url,
              this.newEvent.date = stime[0],
              this.newEvent.timeStart = stimes[0] + ':' + stimes[1],
              this.newEvent.timeEnd = etimes[0] + ':' + etimes[1],
              this.newEvent.isPrivate = privO,
              this.newEvent.isPublish = statusO
            }
          }
        }).catch((err) => {
          console.log(err)
        })
      }
    },
    getEventById () {
      let token = this.$store.getters.getToken
      return axios({
        method: 'POST',
        url: `${Env.url}/event/get_all_events`,
        headers: {
          'Content-Type': 'application/json',
          'app-id': `${Env.app_id}`,
          'app-secret': `${Env.app_secret}`,
          'token': token
        }
      })
    },
    getBooleanNumber (bool) {
      if (bool === true) {
        return 1
      } else {
        return 0
      }
    },
    getTF (dig) {
      if (dig === 1) {
        return true
      } else {
        return false
      }
    },
    validateLoginData () {
      console.log('validate login data')
      // var loginVue = this
      // return new Promise(function (resolve, reject) {
      //
      //   if (!loginVue.user.email.length) {
      //     loginVue.emptyEmail = true
      //     reject('Your email cannot be blank')
      //   } else if (!loginVue.user.password.length) {
      //     loginVue.emptyPassword = true
      //     reject('Your password cannot be blank')
      //   } else if (!emailPattern.test(loginVue.user.email)) {
      //     loginVue.emptyEmail = true
      //     reject('Please enter a valid email')
      //   }
        // resolve('Hurray')
      // })
    },
    getSlug (str) {
      str = str.replace(/^\s+|\s+$/g, "")// trim
      str = str.toLowerCase()
      // remove accents, swap ñ for n, etc
      var from = 'åàáãäâèéëêìíïîòóöôùúüûñç·/_,:;'
      var to = 'aaaaaaeeeeiiiioooouuuunc------'
      for (var i = 0, l = from.length; i < l; i++) {
        str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i))
      }
      str = str
      .replace(/[^a-z0-9 -]/g, "") // remove invalid chars
      .replace(/\s+/g, "-") // collapse whitespace and replace by -
      .replace(/-+/g, "-") // collapse dashes
      .replace(/^-+/, "") // trim - from start of text
      .replace(/-+$/, ""); // trim - from end of text
      return str
    },
    deleteEvent () {
      console.log('event deleted')
    },
		startLoad () {
			let _this = this
			return new Promise(function (resolve) {
				_this.showModal = true
				_this.showModalLoad = true
				resolve('Hurray!')
			})
		},
		endLoad (status) {
			if (status === 'success') {
				this.showModalLoad = false
				this.modalMessage = 'Success! Event has been created!'
				this.showModalMessage = true
			} else {
				this.showModalLoad = false
				this.modalMessage = 'Sorry, something went wrong!'
				this.showModalMessage = true
			}
		},
    submitEvent () {
			// validate fields,
			var _this = this
			let formData = new FormData()
			let token = _this.$store.getters.getToken
			// return
			// turn on loading modal, then:
			_this.startLoad().then(() => {
				let status = _this.getBooleanNumber(_this.newEvent.isPublish)
				let priv = _this.getBooleanNumber(_this.newEvent.isPrivate)
				let slug = _this.getSlug(_this.newEvent.name)
				let start = _this.newEvent.date + ' ' + _this.newEvent.timeStart
				let end = _this.newEvent.date + ' ' + _this.newEvent.timeEnd
				// let formData = new FormData()
				formData.append('image_url', _this.$refs.file.files[0])
				formData.append('location_id', _this.location.id)
				formData.append('category_id', _this.newEvent.category)
				formData.append('name', _this.newEvent.name)
				formData.append('event_slug', slug)
				formData.append('short_description', _this.newEvent.desc)
				formData.append('start_time', start)
				formData.append('end_time', end)
				formData.append('is_private', priv)
				formData.append('fee', _this.newEvent.fees)
				formData.append('age_limit', _this.newEvent.age)
				formData.append('status', status)
			}).then(() => {
				axios({
					method: 'POST',
					url: `${Env.url}/event/create`,
					headers: {
						'Content-Type': 'multipart/form-data',
						'app-id': `${Env.app_id}`,
						'app-secret': `${Env.app_secret}`,
						'token': token
					},
					data: formData
				}).then((res) => {
					console.log(res)
					// if tags are to be added, then go attachTags:
					this.attachTags(res.data.payload.event_id)
				}).then(() => {
					// turn off loading modal and say 'Success! Event has been created/edited!'
					// if there are no tags, does the code reach here?
					this.endLoad('success')
				}).catch((err) => {
					console.log(err)
					this.endLoad('failure')
				})
			})
    },
		organizeTags () {
			var _this = this
			return new Promise(function (resolve, reject) {
				if (_this.tags.length > 0) {
					let indexToRemove = []
					for (let x = 0; x < _this.tags.length; x++) {
						let allTags = _this.$store.getters.getTags
						for (let y = 0; y < allTags.length; y++) {
							if (_this.tags[x].name === allTags[y].name) {
								_this.existingTagIds.push(allTags[y].id)
								indexToRemove.push(x)
							}
						}
						if (indexToRemove.length > 0) {
							for (let c = 0; c < indexToRemove.length; c++) {
								_this.tags.splice(indexToRemove[c], 1)
							}
						}
						_this.newTagsToAdd = _this.tags
					}
					resolve('Hurray')
				} else {
					reject('no tags')
				}
			})
		},
		// event id:
    attachTags (id) {
      // compare selected tags to full tags list
      // sort new tags into new array newTagsToAdd
      // put existing tag ids into a different array existingTagIds
			var _this = this
			return _this
				.organizeTags(_this).then(() => {
					for (let y = 0; y < _this.newTagsToAdd.length; y++) {
						let token = _this.$store.getters.getToken
						axios({
							method: 'PUT',
							url: `${Env.url}/tag/create`,
							headers: {
								'Content-Type': 'application/json',
								'app-id': `${Env.app_id}`,
								'app-secret': `${Env.app_secret}`,
								'token': token
							},
							data: {
								name: _this.newTagsToAdd[y].name
							}
					}).then((res) => {
						_this.existingTagIds.push(res.data.payload.tag_id)
					}).then(() => {
						for (let c = 0; c < _this.existingTagIds.length; c++) {
							let token = _this.$store.getters.getToken
							axios({
								method: 'PUT',
								url: `${Env.url}/tag/add_tag_to_event`,
								headers: {
									'Content-Type': 'application/json',
									'app-id': `${Env.app_id}`,
									'app-secret': `${Env.app_secret}`,
									'token': token
								},
								data: {
									'event_id': id,
									'tags': [{'tag_id': _this.existingTagIds[c]}]
								}
							}).catch((err) => {
								console.log(err)
							})
						}
					}).catch((err) => {
						console.log(err)
					})
				}
			}).catch((reason) => {
				console.log(reason)
			})
    },
    createEvent (location) {
      let data = {location: location}
      this.$store.dispatch('SET_ACTIVE_LOCATION', data)
      this.$router.push('create')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.7s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
.el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
input {
  font: 400 1em system-ui;
}
.el-date-editor.el-input,{
    width: 100%;
  }
.el-date-editor--timerange.el-input__inner {
    width: 100%;
}
.el-input--prefix .el-input__inner {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-size: 16px;
}
.select select{
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}
.w100{
  width: 100%;
}
.border-bottom{
  border-bottom: 1px solid hsl(0, 0%, 86%);
}
.field:not(:last-child) {
    margin-bottom: 0;
}
</style>
