<template>
  <div class="hello">
    <div class="level is-mobile">
      view events for a location
    </div>
    <div class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">name</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">category</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">status</p>
        </div>
      </div>
      <div class="level-item has-text-centered"></div>
    </div>
    <div v-for="ev in events" :key="ev.id" class="level is-mobile border-bottom">
      <div class="level-item has-text-centered">
        <p class="title">{{ev.name}}</p>
      </div>
      <div class="level-item has-text-centered">
        <p class="title">{{ev.event_category.name}}</p>
      </div>
      <div class="level-item has-text-centered">
        <p class="title">{{ev.status}}</p>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <a class="button is-info" @click="viewEvent(ev.id)">View Event</a>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <a class="button is-success" @click="editEvent(ev.id)">Edit Event</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Env from '../environment.js'
import axios from 'axios'
export default {
  name: 'EventsViewAllLocation',
  props: {
    msg: String
  },
  data () {
    return {
      events: []
    }
  },
  computed: {},
  watch: {},
  created () {
    this.getEvents()
  },
  mounted () {},
  methods: {
    getEvents () {
      let token = this.$store.getters.getToken
      axios({
        method: 'POST',
        url: `${Env.url}/event/get_all_events`,
        headers: {
          'Content-Type': 'application/json',
          'app-id': `${Env.app_id}`,
          'app-secret': `${Env.app_secret}`,
          'token': token
        }
      }).then((res) => {
        console.log('all events:')
        console.log(res.data.payload.events)
        this.events = res.data.payload.events
      }).catch((err) => {
        console.log(err)
      })
    },
    viewEvent (id) {
      console.log('view this event ' + id)
    },
    setEdit (self, id) {
      console.log('here??')
      console.log(id)
      return new Promise(function (resolve) {
        let data = {edit: true}
        self.$store.dispatch('SET_EDIT', data).then(() => {
          self.$forceUpdate()
          let data1 = {id: id}
          self.$store.dispatch('SET_ACTIVE_EVENT_ID', data1).then(() => {
            self.$forceUpdate()
          })
          resolve('hooray')
        })
      })
    },
    editEvent (id) {
      var self = this
      return self
      .setEdit(self, id)
      .then((resolve) => {
        console.log(resolve)
        self.$router.push('create')
      })
    }
    // createEvent (location) {
    //   let data = {location: location}
    //   this.$store.dispatch('SET_ACTIVE_LOCATION', data)
    //   this.$router.push('create')
    // }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.border-bottom{
  border-bottom: 1px solid hsl(0, 0%, 86%);
}
</style>
