<template>
  <div id="home-wrap" class="box-wrapper column">
    <!-- <img class="login-logo" src="../../assets/images/unoapp-commerce-logo.png" /> -->
    <div class="main-content">
      <div class="container">
        <div class="level is-mobile has-text-left has-text-grey-lighter	">
          <icon name="calendar-alt" scale="3" class="level-left"></icon>
          <div class="level-right title-site">Events</div>
        </div>
        <router-view></router-view>
      </div>
    </div>
    <nav class="navbar is-fixed-bottom">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="../assets/images/powered.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <router-link to="locations" class="navbar-item">Locations</router-link>
        <router-link to="categories" class="navbar-item">Categories</router-link>
        <router-link to="tags" class="navbar-item">Tags</router-link>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'HomeWrap',
  props: {
    msg: String
  },
  data () {
    return {}
  },
  computed: {},
  watch: {},
  created () {
    this.$router.push('locations')
  },
  mounted () {},
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.navbar-item img{
	max-height: 45px;
}
.title-site{
  font-size: 2.5em;
}
#home-wrap{
  height: 100%;
}
.main-content{
  height: calc(100% - 3.25rem)
}
.card{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 330px;
}
.card-content{
  padding: 2.5em;
  position: absolute;
  height: 100%;
}
.login-logo{
  position: absolute;
  top: 2.5em;
  left: 2.5em;
}
.box-content-block{
  width: 330px;
  margin: auto;
  position: relative;
}
.container {
  background-color: white;
  padding: 2.5em;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.box-wrapper {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(155deg, #f3f6f8 0%, #fff 100%);
}
.box-wrapper::before {
  content: "";
  position: fixed;
  left: -22%;
  top: 60%;
  right: 0;
  width: 125%;
  height: 100%;
  background: linear-gradient(155deg, #fff 0%, #f3f6f8 100%);
  transform: rotate(15deg);
}
</style>
