<template>
  <div class="hello">
    <div class="level is-mobile">
      locations
    </div>
    <div class="level is-mobile border-bottom">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">name</p>
          <p class="title">{{locations.name}}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">capacity</p>
          <p class="title">{{locations.capacity}}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <icon name="edit"></icon>
          <!-- <p class="heading">capacity</p>
          <p class="title">{{locations.capacity}}</p> -->
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <a class="button is-info" @click="viewEvents()">View Events</a>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <a class="button is-success" @click="createEvent()">Create Event</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Env from '../environment.js'
import axios from 'axios'
export default {
  name: 'LocationsHome',
  props: {
    msg: String
  },
  data () {
    return {
      locations: {}
    }
  },
  computed: {},
  watch: {},
  created () {
    this.getLocations()
  },
  mounted () {},
  methods: {
    getLocations () {
      let token = this.$store.getters.getToken
      return axios({
        method: 'POST',
        url: `${Env.url}/location/get_location`,
        headers: {
          'Content-Type': 'application/json',
          'app-id': `${Env.app_id}`,
          'app-secret': `${Env.app_secret}`,
          'token': token
        }
      }).then((res) => {
        console.log(res)
        this.locations = res.data.payload.location
      }).catch((err) => {
        console.log(err)
      })
    },
    viewEvents () {
      console.log(this.locations)
      let data = {location: this.locations}
      this.$store.dispatch('SET_ACTIVE_LOCATION', data).then(() => {
        this.$forceUpdate()
        this.$router.push('view-events')
      })
    },
    createEvent () {
      console.log(this.locations)
      let data = {location: this.locations}
      this.$store.dispatch('SET_ACTIVE_LOCATION', data).then(() => {
        this.$forceUpdate()
        this.$router.push('create')
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.border-bottom{
  border-bottom: 1px solid hsl(0, 0%, 86%);
}
</style>
