<template>
  <div class="hello w100">
    <div class="level is-mobile">
      tags
    </div>
    <div class="level is-mobile">Add A Tag</div>
    <div class="level is-mobile">
      <div class="field has-addons">
        <div class="control">
          <input v-model="newTag" class="input" type="text" placeholder="New Tag">
        </div>
        <div class="control">
          <a class="button is-info" @click="addTag()">
            Add
          </a>
        </div>
      </div>
    </div>
    <div class="level is-mobile">All Tags</div>
    <div class="column margin-b-10 w100">
      <p v-if="noTags">No Tags</p>
      <div v-for="tag in allTags" :key="tag.id" class="card level is-mobile w100">
        <div class="card-content">
          <p v-if="editId === tag.id" class="subtitle">
            <input v-model="editName" class="input" type="text">
          </p>
          <p v-else class="subtitle">
            {{tag.name}}
          </p>
        </div>
        <footer class="card-footer">
          <p v-if="editId === tag.id" class="card-footer-item">
            <a class="button is-info is-outlined" @click="saveEdit(tag.id)">Save</a>
          </p>
          <p class="card-footer-item">
            <a class="button is-info is-outlined" @click="switchEdit(tag.id, tag.name)">Edit</a>
          </p>
          <p class="card-footer-item">
            <a class="button is-danger is-outlined" @click="deleteTag(tag.id)">Delete</a>
          </p>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import Env from '../environment.js'
import axios from 'axios'
export default {
  name: 'Tags',
  props: {
    msg: String
  },
  data () {
    return {
      tags: [],
      noTags: false,
      newTag: '',
      editId: null,
      editName: ''
    }
  },
  computed: {
    allTags () {
      return this.$store.getters.getTags
    }
  },
  watch: {
    allTags () {
      this.tags = this.allTags
    }
  },
  created () {
    this.getTags()
  },
  mounted () {},
  methods: {
    getTags () {
      this.$store.dispatch('RETURN_ALL_TAGS').then((res) => {
        console.log(res)
        let data = {tags: res.data.payload.tags}
        this.$store.dispatch('SET_TAGS', data)
        // this.categories = res.data.payload.categories
        // this.noCategories = false
        // this.$forceUpdate()
      }).catch((err) => {
        console.log(err.response.data.declaration)
        if (err.response.data.declaration === 'tags_not_found') {
          // this.noCategories = true
        }
      })
    },
    addTag () {
      let token = this.$store.getters.getToken
      axios({
        method: 'PUT',
        url: `${Env.url}/tag/create`,
        headers: {
          'Content-Type': 'application/json',
          'app-id': `${Env.app_id}`,
          'app-secret': `${Env.app_secret}`,
          'token': token
        },
        data: {
          'name': this.newTag
        }
      }).then((res) => {
        console.log(res)
        this.getTags()
      }).then(() => {
        this.newTag = ''
        this.$forceUpdate()
      }).catch((err) => {
        console.log(err)
      })
    },
    deleteTag (id) {
      let token = this.$store.getters.getToken
      axios({
        method: 'DELETE',
        url: `${Env.url}/tag/` + id,
        headers: {
          // 'Content-Type': 'application/json',
          'app-id': `${Env.app_id}`,
          'app-secret': `${Env.app_secret}`,
          'token': token
        }
      }).then((res) => {
        console.log(res)
        this.getTags()
      }).catch((err) => {
        console.log(err)
      })
    },
    saveEdit (id) {
      let token = this.$store.getters.getToken
      axios({
        method: 'PATCH',
        url: `${Env.url}/tag/edit/` + id,
        headers: {
          // 'Content-Type': 'application/json',
          'app-id': `${Env.app_id}`,
          'app-secret': `${Env.app_secret}`,
          'token': token
        },
        data: {
          'name': this.editName
        }
      }).then((res) => {
        console.log(res)
        this.editId = null
        this.editName = ''
        this.$forceUpdate()
        this.getTags()
      }).catch((err) => {
        console.log(err)
      })
    },
    switchEdit (id, name) {
      if (this.editId === id) {
        this.editId = null
        this.editName = ''
        this.$forceUpdate()
      } else {
        this.editId = id
        this.editName = name
        this.$forceUpdate()
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.margin-b-10{
  margin-bottom: 10px !important;
}
.w100{
  width: 100%;
}
.card-content{
  padding: 0 0 0 0.75rem;
}
.card-footer{
  border: none;
}
.card-footer-item:not(:last-child) {
    border-right: none;
    // 1px solid #dbdbdb
}
.border-bottom{
  border-bottom: 1px solid hsl(0, 0%, 86%);
}
</style>
