<template>
  <div class="box-wrapper column">
    <img class="login-logo" src="../../assets/images/unoapp-commerce-logo.png" />
    <div class="box-container">
      <div class="box-content-block">
        <div class="card">
          <transition
            name="fade"
            mode="out-in"
          >
            <div v-if="(this.$route.name === 'LoginMain' || this.$route.name === 'LoginExpired') && forgotPassword === false" class="card-content">
              <form @submit.prevent="login($event)" class="form-spacing">
                <div style="margin-bottom: 0.75rem;">
                  <div class="field">
                    <div class="control has-icons-left">
                      <input v-model="user.email" class="input is-medium" :class="{'is-danger' : this.emptyEmail}" type="email" placeholder="Email">
                      <span class="icon is-left">
                        <icon name="envelope"></icon>
                      </span>
                      <!-- <span v-show="this.emptyEmail" class="icon is-right">
                        <icon name="exclamation-triangle"></icon>
                      </span> -->
                    </div>
                    <div class="holder">
                      <p v-show="this.emptyEmail" class="help is-danger has-text-left">Email is required</p>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input v-model="user.password" class="input is-medium" :class="{'is-danger' : this.emptyPassword}" type="password" placeholder="Password">
                      <span class="icon is-left">
                        <icon name="lock"></icon>
                      </span>
                      <span v-show="this.emptyPassword" class="icon is-right">
                        <icon name="exclamation-triangle"></icon>
                      </span>
                    </div>
                    <div class="holder">
                      <p v-show="this.emptyPassword" class="help is-danger has-text-left">Password is required</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="field">
                    <p class="control">
                      <button type="submit" class="button is-success is-medium is-fullwidth submit-button">
                        <span class="m-r-20">Login</span>
                        <icon name="angle-right" scale="1.5"></icon>
                      </button>
                    </p>
                  </div>
                  <div class="field">
                    <p class="has-text-left is-size-7 has-text-grey-light">Forgot your password? <span class="reset-link" @click="goToReset()">Reset it.</span></p>
                  </div>
                </div>
              </form>
            </div>
          </transition>
          <transition
            name="fade"
            mode="out-in"
          >
            <div v-if="(this.$route.name === 'ForgotPassword' && resetPassword === false)" class="card-content">
              <form v-if="!emailSent" @submit.prevent="forgot($event)">
                <div class="field">
                  <p class="subtitle is-6">Enter your email and we will send you a temporary password</p>
                </div>
                <div class="field">
                  <div class="control has-icons-left has-icons-right">
                    <input class="input is-medium" :class="{'is-danger' : this.emptyEmail}" type="email" placeholder="Email">
                    <span class="icon is-left">
                      <icon name="envelope"></icon>
                    </span>
                    <span v-show="this.emptyEmail" class="icon is-right">
                      <icon name="exclamation-triangle"></icon>
                    </span>
                  </div>
                  <div class="holder">
                    <p v-show="this.emptyEmail" class="help is-danger has-text-left">Email is required</p>
                  </div>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button is-success is-medium is-fullwidth submit-button" type="submit">
                      <span class="m-r-20">SEND</span>
                      <icon name="angle-right" scale="1.5"></icon>
                    </button>
                  </p>
                </div>
                <div class="field">
                  <p class="has-text-left is-size-7 has-text-grey-light">Remember your credentials? <span class="reset-link" @click="goToLogin()">Log in.</span></p>
                </div>
              </form>
              <div v-if="emailSent">
                <div class="field">
                  <p class="subtitle is-6">An email has been sent to the address you provided with further instructions</p>
                  <div class="field">
                    <p class="control">
                      <button @click="goBack()" class="button is-success is-medium is-fullwidth submit-button">
                        <span class="m-r-20">Okay</span>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </transition>
          <transition
            name="fade"
            mode="out-in"
          >
            <div v-if="(this.$route.name === 'ForgotPassword' && resetPassword === true)" class="card-content">
              <form @submit.prevent="reset($event)" novalidate>
                <div class="field">
                  <div class="control has-icons-left has-icons-right">
                    <input v-model="user.email" class="input is-medium" :class="{'is-danger' : this.emptyEmail}" type="email" placeholder="Email">
                    <span class="icon is-left">
                      <icon name="envelope"></icon>
                    </span>
                    <span v-show="this.emptyEmail" class="icon is-right">
                      <icon name="exclamation-triangle"></icon>
                    </span>
                  </div>
                  <div class="holder">
                    <p v-show="this.emptyEmail" class="help is-danger has-text-left">Email is required</p>
                  </div>
                </div>
                <div class="field">
                  <div class="control has-icons-left has-icons-right">
                    <input v-model="this.newPassword" class="input is-medium" :class="{'is-danger' : this.emptyResetPassword}" type="password" placeholder="New Password">
                    <span class="icon is-left">
                      <icon name="lock"></icon>
                    </span>
                    <span class="icon is-right">
                      <icon name="eye"></icon>
                    </span>
                  </div>
                  <div class="holder">
                    <p v-show="this.newPassword" class="help is-danger has-text-left">Password is required</p>
                  </div>
                </div>
                <div class="field">
                  <div class="control has-icons-left has-icons-right">
                    <input v-model="this.passwordCheck" class="input is-medium" :class="{'is-danger' : this.emptyResetPasswordConfirm}" type="password" placeholder="Confirm Password">
                    <span class="icon is-left">
                      <icon name="lock"></icon>
                    </span>
                    <span class="icon is-right">
                      <icon name="eye"></icon>
                    </span>
                  </div>
                  <div class="holder">
                    <p v-show="this.passwordCheck" class="help is-danger has-text-left">Passwords do not match</p>
                  </div>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button is-success is-medium is-fullwidth submit-button" type="submit">
                      <span class="m-r-20">RESET</span>
                      <icon name="angle-right" scale="1.5"></icon>
                    </button>
                  </p>
                </div>
              </form>
              <div v-if="emailSent">
                <div class="field">
                  <p class="subtitle is-6">An email has been sent to the address you provided with further instructions</p>
                  <div class="field">
                    <p class="control">
                      <button @click="goBack()" class="button is-success is-medium is-fullwidth submit-button">
                        <span class="m-r-20">Okay</span>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Env from '../../environment.js'
// import axios from 'axios'
import LoginFunctions from '../controllers/Login'

/**
 * Define the email pattern to check for valid emails.
 * @var {regex}
 * @memberof Login
 */
var emailPattern = /^.+@.+\..+$/

export default {
  name: 'LoginMain',
  props: {
    msg: String
  },
  data () {
    return {
      emptyEmail: false,
      emptyPassword: false,
      forgotPassword: false,
      resetPassword: false,
      emailSent: false,
      user: {
        email: '',
        password: ''
      },
      newPassword: '',
      passwordCheck: '',
      emptyResetPassword: false,
      emptyResetPasswordConfirm: false
    }
  },
  computed: {},
  watch: {},
  created () {
    // return axios({
    //   method: 'POST',
    //   url: `${Env.url}/login`,
    //   headers: {
    //     'Content-Type': 'application/json'
    //   },
    //   data: {
    //     email: 'victoria@unoapp.com',
    //     password: 'unoapp123'
    //   }
    // }).then((res) => {
    //   console.log(res)
    // }).catch((err) => {
    //   console.log(err)
    // })
  },
  mounted () {},
  methods: {
    /**
		 * To hide the forgot password form.
		 * @function
		 * @returns {undefined}
		 */
		goBack () {
			this.forgotPassword = false
			this.emailSent = false
			// this.clearError()
			this.$router.push('login')
		},
    goToLogin () {
      this.forgotPassword = false
      this.$router.push('login')
    },
    goToReset () {
      this.forgotPassword = true
      this.$router.push('forgot-password')
    },
    /**
     * To check if the email and password are valid before submitting to the backend for login.
     * @function
     * @returns {object} A promise that will validate the input form
     */
    validateLoginData () {
      console.log('validate login data')
      var loginVue = this
      return new Promise(function (resolve, reject) {

        if (!loginVue.user.email.length) {
          loginVue.emptyEmail = true
          reject('Your email cannot be blank')
        } else if (!loginVue.user.password.length) {
          loginVue.emptyPassword = true
          reject('Your password cannot be blank')
        } else if (!emailPattern.test(loginVue.user.email)) {
          loginVue.emptyEmail = true
          reject('Please enter a valid email')
        }
        resolve('Hurray')
      })
    },
    /**
		 * To prompt the backend call that logs the user in.
		 * @function
		 * @param {object} event - The click event that prompted this function.
		 * @returns {object} A promise that will either return an error message or display the success screen
		 */
		login (event) {
			// var disabledButton = GlobalFunctions.disableButton(event)
      console.log(event)
			var loginVue = this
			// this.clearError()
			return loginVue
				.validateLoginData(loginVue)
				.then(response => {
          console.log('hereee?')
          console.log(response)
					/* eslint-disable no-undef */
					LoginFunctions.login(loginVue.user.email, loginVue.user.password)
						.then(response => {
              console.log(response)
							// if (response.payload.show_password_reset === 1) {
							// 	loginVue.token = response.payload.password
							// 	// temporary login
							// 	loginVue.goReset()
							// 	loginVue.$router.push('forgot-password')
							// 	// show password reset form
							// } else {
								// not temporary log in, just a regular log in:
              let data = {token: response.data.payload.token, user_id: response.data.payload.user_id, app_id: response.data.payload['app-id'], app_secret: response.data.payload['app-secret']}
              console.log(data)
              this.$store.dispatch('SET_STORAGE', data)
            // }
						})
            .then(() => {
              this.$router.push('/')
            })
						.catch(reason => {
							console.log(reason)
							// disabledButton.cancel()
							// ajaxErrorHandler({
							// 	reason,
							// 	errorText: 'We could not log you in',
							// 	errorName: 'errorMessage',
							// 	vue: loginVue
							// })
							// this.$refs.email.focus()
						})
				})
				.catch(reason => {
          console.log(reason)
					// disabledButton.cancel()
					// If validation fails then display the error message
					loginVue.errorMessage = reason
					// window.scrollTo(0, 0)
				})
		},
    /**
		 * To prompt the backend call that sends the user a password reset after forgetting password.
		 * @function
		 * @param {object} event - The click event that prompted this function.
		 * @returns {object} A promise that will either return an error message or display the success screen
		 */
		forgot (event) {
      this.emailSent = true
      console.log('sent the email')
      console.log(event)
			// // var disabledButton = GlobalFunctions.disableButton(event)
			// var loginVue = this
			// this.clearError()
			// return loginVue
			// 	.validateForgotData()
			// 	.then(response => {
			// 		/* eslint-disable no-undef */
			// 		LoginFunctions.forgot(loginVue.user.email)
			// 			.then(response => {
			// 				// disabledButton.complete()
			// 				this.emailSent = true
			// 				this.forgotMessage = response.message
			// 				this.test = true
			// 				this.$forceUpdate()
			// 			})
			// 			.catch(reason => {
			// 				// disabledButton.cancel()
			// 				ajaxErrorHandler({
			// 					reason,
			// 					errorText: 'Something went wrong',
			// 					errorName: 'errorMessage',
			// 					vue: loginVue
			// 				})
			// 				this.$refs.email.focus()
			// 			})
			// 	})
			// 	.catch(reason => {
			// 		// disabledButton.cancel()
			// 		// If validation fails then display the error message
			// 		loginVue.errorMessage = reason
			// 		window.scrollTo(0, 0)
			// 	})
		}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.form-spacing{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.4s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
.reset-link{
  transition: all 0.1s linear;
  cursor: pointer;
}
.reset-link:hover{
  color: hsl(0, 0%, 48%);
}
.submit-button{
  .m-r-20{
    transition: all 0.1s linear;
    margin-right: 20px;
  }
}

.submit-button:hover{
  .m-r-20{
    margin-right: 25px;
  }
}
.holder{
  position: relative;
  height: 1em;
  width: 100%;
  p{
    position: absolute;
  }
}
.card{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 330px;
}
.card-content{
  padding: 2.5em;
  position: absolute;
  height: 100%;
}
.login-logo{
  position: absolute;
  top: 2.5em;
  left: 2.5em;
}
.box-content-block{
  width: 330px;
  margin: auto;
  position: relative;
}
.box-container {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 20px;
}
.box-wrapper {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(155deg, #f3f6f8 0%, #fff 100%);
}
.box-wrapper::before {
  content: "";
  position: fixed;
  left: -22%;
  top: 60%;
  right: 0;
  width: 125%;
  height: 100%;
  background: linear-gradient(155deg, #fff 0%, #f3f6f8 100%);
  transform: rotate(15deg);
}

</style>
