<template>
  <div id="app">
    <!-- <div id="nav"></div> -->
    <router-view/>
  </div>
</template>
<script>
export default {
  name: 'App',
  created () {
  // check if there is token in vuex, if not or if it is expired then go to login
  }
}
</script>
<style lang="scss">
@import "./assets/css/_setup.scss";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
